<%= @article.title %><br>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<%= @article.body %><br>

<%= render partial: 'comments/form' %>

<%= link_to "<< back to Articles list", articles_path %><br>

<%= link_to "delete", article_path(@article), method: :delete, data: {confirm: "really delete the article?"} %>

<%= link_to "edit", edit_article_path(@article) %>

<h2>Comments (<%= @article.comments.size %>)</h2>

<%= render partial: 'articles/comment', collection: @article.comments %>